<div class="hero is-fullheight is-default is-bold">

  <!--
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="../">
              <img alt="Logo" src="/assets/images/bulma.png">
            </a>
            <span (click)="menuOpen = !menuOpen" [class.is-active]="menuOpen" class="navbar-burger burger">
                              <span></span>
                              <span></span>
                              <span></span>
                          </span>
          </div>
          <div [class.is-active]="menuOpen" class="navbar-menu">
            <div class="navbar-end">
              <div class="tabs is-right">
                <ul>
                  <li class="is-active"><a>Home</a></li>
                  <li><a href="">Examples</a></li>
                  <li><a href="">Features</a></li>
                  <li><a href="">Team</a></li>
                  <li><a href="">Help</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  -->

  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column is-3">
          <h1 class="title is-2">Blühendes Magdeburg</h1>
          <h2 class="subtitle is-4">Wir zeigen Euch die Blühwiesen der Stadt.</h2>
          <p class="has-text-centeredx">
            <a class="button is-medium is-info is-outlined">Mehr erfahren</a>
          </p>
        </div>
        <div class="column is-8 is-offset-1">
          <iframe allowfullscreen frameborder="0" height="500px" src="http://umap.openstreetmap.fr/de/map/test_461825?scaleControl=true&miniMap=false&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=false&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false&fullscreenControl=true&locateControl=null" width="100%"></iframe>
        </div>
      </div>
    </div>
  </div>

<!--
  <div class="hero-body">
    <div class="container level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Tweets</p>
          <p class="title">3,456</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Following</p>
          <p class="title">123</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Followers</p>
          <p class="title">456K</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Likes</p>
          <p class="title">789</p>
        </div>
      </div>
    </div>
  </div>
-->

  <div class="hero-foot">
    <div class="container">
      <div class="tabs is-centered">
      </div>
    </div>
  </div>

</div>
