<div class="hero is-fullheight is-default is-bold">

  <!--
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="../">
              <img alt="Logo" src="/assets/images/bulma.png">
            </a>
            <span (click)="menuOpen = !menuOpen" [class.is-active]="menuOpen" class="navbar-burger burger">
                              <span></span>
                              <span></span>
                              <span></span>
                          </span>
          </div>
          <div [class.is-active]="menuOpen" class="navbar-menu">
            <div class="navbar-end">
              <div class="tabs is-right">
                <ul>
                  <li class="is-active"><a>Home</a></li>
                  <li><a href="">Examples</a></li>
                  <li><a href="">Features</a></li>
                  <li><a href="">Team</a></li>
                  <li><a href="">Help</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  -->

  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column is-3">
          <h1 class="title is-2">Blühendes Magdeburg</h1>
          <h2 class="subtitle is-4">Wir zeigen Euch die Blühwiesen der Stadt.</h2>
          <p class="has-text-centeredx">
            <a class="button is-medium is-info is-outlined">Mehr erfahren</a>
          </p>
        </div>
        <div class="column is-8 is-offset-1">
          <iframe allowfullscreen frameborder="0" height="500px" src="https://umap.openstreetmap.fr/de/map/test_461825?scaleControl=true&miniMap=false&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=false&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false&fullscreenControl=true&locateControl=null" width="100%"></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-body">
    <div class="container">
      <p>
        Blühwiesen in Magdeburg werden u.a. gepflegt von:
      </p>
      <div class="level" style="margin-top: 20px;">
        <div class="level-item has-text-centered">
          <div>
            <!--<p class="heading">Stadt Magdeburg</p>-->
            <p style="_margin-top: 10px;">
              <a href="http://www.magdeburg.de"><img src="assets/images/logo-magdeburg.png" width="150"></a>
            </p>
            <p style="margin-top: 20px;">Flächen: 2</p>
            <!--<p class="title">3,456 m<sup>2</sup></p>-->
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <!--<p class="heading">Wohnungsgenossenschaft Otto von Guericke eG</p>-->
            <p style="_margin-top: 10px;">
              <a href="http://www.guericke.de"><img src="assets/images/logo-otto-von-guericke.png" width="150"></a>
            </p>
            <p style="margin-top: 20px;">Flächen: 1</p>
            <!--<p class="title">3,456 m<sup>2</sup></p>-->
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <!--<p class="heading">Helionat Energiegenossenschaft</p>-->
            <p style="_margin-top: 10px;">
              <a href="http://www.helionat.de"><img src="assets/images/logo-helionat.png" width="150"></a>
            </p>
            <p style="margin-top: 20px;">Flächen: 1</p>
            <!--<p class="title">3,456 m<sup>2</sup></p>-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <div class="container">
      <div class="tabs is-centered">
      </div>
    </div>
  </div>

</div>
